<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communion {%block title%}{%endblock%}</title>
    <link rel="shortcut icon" href="/public/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/all.css">
    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/popper.js"></script>
    <script src="/public/js/bootstrap.js"></script>

    {%block headcontent%}

    {%endblock%}
</head>
<body>
    {%include './nav.html'%}
    {%block content%}

    {%endblock%}

    {%include './footer.html'%}

    {%block bodycontent%}

    {%endblock%}
</body>
</html>